.lobby-page
  background-color: $light-background
  border-radius: 5px

  display: flex
  flex-direction: row

  width: fit-content
  margin-left: auto
  margin-right: auto
  margin-top: 3em

  padding: 1em

  .title
    margin: 0
    margin-bottom: 1em
    width: 100%
    text-align: center

    color: $big-text
    font-size: 1.5em
    font-weight: bold

  .lobby-container
    .user-list
      .user
        display: flex
        flex-direction: row
        justify-content: flex-start
        background-color: $item-background
        border-radius: 5px
        margin: 0.5em 0
        .admin
          height: 19px
          width: 15px
          margin: 0.5em
        .nickname
          margin: 0.5em
          min-width: 150px
        .points
          margin: 0.5em
          width: 50px
          text-align: center
        .button.cancel
          border-radius: 3px
          margin: 4px
          margin-left: 1em
          padding: 4px 12px
      .user.you
        font-weight: bold

  .game
    display: flex
    flex-direction: column
    justify-content: center

    margin-left: 1em

    .gameroles-container
      margin-bottom: 1em

      .categorie-container
        display: flex
        flex-direction: row

        .cat-button
          padding: 0.5em
          font-size: 16px
          border: none
          border-top-left-radius: 5px
          border-top-right-radius: 5px
          cursor: pointer

          background-color: $light-background
          color: $text

        .cat-button.selected
          background-color: $item-background
          cursor: initial

      .roles-container
        .cat-roles
          border-bottom-right-radius: 5px
          border-bottom-left-radius: 5px
          background-color: $item-background
          padding: 1em 1em 0
          display: none

          .role-input
            display: flex
            flex-direction: row
            justify-content: space-between

            padding-bottom: 1em

            label
              padding-right: 1em

            input
              background-color: $text
              border-radius: 5px
              border: none
              padding: 0.2em
              color: $background

        .cat-roles.selected
          display: block